.goldbeck-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #000;

  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1000;
  opacity: 1;
  transition: all 1.5s ease-out;

  &__logo {
    width: 100%;
  }

  &__content {
    justify-content: flex-end;
    font-size: 10px;
    text-transform: uppercase;
    color: #ac842c;
  }

  &__is-hidden {
    display: none;
  }

  &__fade {
    opacity: 0;
  }
}
